//fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");

//colors
$dark-blue: #023047;
$light-blue: #219ebc;
$orange: #fb8500;
$yellow: #ffff03;
$white: #fff;

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-containter {
  background-color: #fff;
}

.p-blue {
  color: $light-blue;
}

.p-yellow {
  color: $light-blue;
}

a {
  svg {
    width: 50%;
    margin: 0;
    margin-top: -2em;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  nav {
    ul {
      display: flex;

      a {
        padding: 0 1em;
      }
    }
  }
}

.social-header,
.content-right {
  display: none;
}

.hero {
  color: $dark-blue;
  display: flex;

  padding: 3em;
  padding-top: 0;
  justify-content: center;
}

.content-left {
  text-align: center;
}

h1 {
  color: $dark-blue;
}

h4 {
  color: $orange;
}

.button-down {
  img {
    width: 2.5em;
  }
}

.contact {
  background-color: $dark-blue;
  position: relative;
  display: flex;

  &-background {
    padding: 3em;
    width: 50%;
    margin: 0 auto;
  }

  .text {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    h1 {
      color: $yellow;
      display: inline-block;
      font-size: 6.5vw;
      padding: 1em;
      margin-top: -0.5em;
      letter-spacing: 0.4em;
      text-align: center;

      a {
        color: $orange;
      }
    }
  }
}

.about {
  background-color: $light-blue;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.col {
  display: inline-block;
  width: 70%;
  height: auto;
  text-align: center;
  background-color: $white;
  margin: 1em auto;

  img {
    width: 40%;
    padding: 1em;
  }
  border-radius: 1em;
  h4 {
    font-size: 0.9em;
    margin-top: -0.5em;
    color: $dark-blue;
    text-transform: uppercase;
  }

  p {
    font-size: 0.7em;
    padding: 1em 4em;
    margin-top: -1.5em;
    color: $light-blue;
  }
}

.col-1 {
  padding-top: 2em;
  margin-top: 2em;
  padding-top: 0;
}

.col-3 {
  margin-bottom: 2em;
}

.project {
  padding: 0.25em 2em;
  text-align: center;
  position: relative;

  .left {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    img {
      width: 60%;
      margin: 0 auto;
      border-radius: 2em;
      -webkit-border-radius: 2em;
      -moz-border-radius: 2em;
      -ms-border-radius: 2em;
      -o-border-radius: 2em;
    }

    h1 {
      margin-top: -0.5em;
      font-size: 1.5em;
    }

    h4 {
      color: $orange;
      font-size: 0.8em;
      margin-top: 0;
      text-transform: uppercase;
    }
  }

  .right {
    .description {
      font-size: 0.7em;
      padding: 0 2em;
    }
  }
}

.hire {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  margin-bottom: 1em;
  position: relative;
  z-index: 10;

  &-me {
    padding: 0 1em;
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 800;
    overflow: hidden;
    background: linear-gradient(
      to right,
      $orange,
      $orange 50%,
      $light-blue 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; // text decorations are clipped in WebKit browsers
    &:hover {
      background-position: 0 100%;
    }
  }
}

footer {
  background-color: $dark-blue;
  margin-top: 3em;
  position: relative;
  height: 25%;

  ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    z-index: 10;
  }

  a {
    color: $light-blue;
    font-size: 0.8em;
  }
}

.footer-img {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.vp,
.vl {
  display: none;
}

.svg-right,
.svg-left {
  display: none;
}

@media only screen and (min-width: 800px) {
  .nav-container {
    display: flex;
    height: 6em;
    position: relative;
  }

  a {
    svg {
      padding: 0;
      width: 40%;
      margin-top: -3em;
    }
  }

  header {
    display: flex;
    width: 66%;
    height: 100%;
    z-index: 0;
    justify-content: space-between;
    align-content: center;

    nav {
      ul {
        display: flex;
        margin-right: 9em;
        a {
          padding: 0 1em;
          font-size: 0.8em;
        }
      }
    }
  }

  body {
    position: relative;
    .svg-social {
      width: 100%;
      height: 100vh;
      display: block;
      position: absolute;
      left: -7em;
      top: 0;
      z-index: 9;
      overflow: hidden;
      .svg-hero {
        position: absolute;
        height: 85%;
        z-index: 9;
        width: auto;
      }
    }
  }
  .social-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    background-color: $light-blue;
    width: 34%;
    position: relative;

    ul {
      display: flex;
      li {
        padding: 0.5em;
        img {
          width: 50%;
          position: relative;
          z-index: 10;
        }

        .dribbble {
          margin-top: -0.25em;
        }
      }
    }
  }

  .hero {
    display: block;
    height: 50vh;
    width: 100vw;
    position: relative;
  }

  .content-right {
    width: 100%;
    height: 100%;
    background-color: $light-blue;
    padding: 0;

    // svg {
    //   position: absolute;
    //   z-index: 5;
    //   height: 120%;
    //   top: -18%;
    //   right: 0;
    // }
  }

  .content-left {
    display: flex;
    width: 66%;
    position: relative;
    justify-content: left;
    .content {
      width: 60%;
      text-align: justify;
      h1 {
        font-size: 2.5em;
        margin-left: 2.5em;
      }
      h4 {
        margin-left: 6.2em;
      }
    }
  }

  .vl {
    display: block;
    color: $light-blue;
    border-left: 3px solid;
    height: 12em;
    z-index: 10;
    position: absolute;
    left: 4em;
    top: 35%;
  }

  .button-down {
    text-align: center;
    a {
      position: relative;
      z-index: 10;
    }
  }

  .vp {
    display: block;
    color: $dark-blue;
    font-size: 3em;
    font-weight: bold;
    writing-mode: tb-rl;
    -webkit-writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
    position: absolute;
    top: 18%;
    left: -0.4em;
  }

  .contact {
    position: relative;
    z-index: 9;
    .contact-background {
      position: relative;
      z-index: 0;
    }
    .text {
      h1 {
        margin-top: -1em;
        a {
          position: relative;
          z-index: 10;
        }
      }
    }
  }
  .vl-contact {
    color: $yellow;
    top: 25%;
    height: 19em;
  }
  .vp-contact {
    color: $light-blue;
    top: 6%;
  }
  .vp-small {
    color: $yellow;
    font-size: 1em;
    right: 1em;
  }

  .dark-blue-div {
    display: block;
    width: 100%;
    height: 20vh;
    background-color: $dark-blue;
  }
  .about {
    position: relative;
    background-color: $light-blue;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .col {
    display: inline-block;
    width: 40%;
    height: 50%;
    text-align: center;
    background-color: $light-blue;
    margin: 1em auto;

    img {
      margin-top: -6em;
      z-index: 10;
      width: 50%;
      padding: 0.5em;
    }
    h4 {
      font-size: 0.9em;
      margin-top: -0.5em;
      color: $dark-blue;
      text-transform: uppercase;
    }

    p {
      font-size: 0.7em;
      padding: 2em 4em;
      width: 60%;
      margin: 0 auto;
      margin-top: -1.5em;
      color: $yellow;
      text-align: left;
    }
  }

  .project {
    padding-bottom: 2em;
    position: relative;

    .right {
      svg {
        position: absolute;
        right: -3%;
        top: 0;
        height: 100%;
        z-index: -1;
      }
      .vp {
        color: $orange;
        right: 5%;
      }

      .description {
        display: block;
        position: absolute;
        top: 20%;
        right: 10%;
        width: 30%;
        margin: 0 auto;
        text-align: left;
      }
    }

    .left {
      height: 60vh;
      position: relative;
      a {
        margin-left: -5%;
        width: 75%;
        img {
          position: relative;
          border-radius: 0;
          z-index: 10;
          margin-bottom: 3em;
        }
      }
      h4 {
        text-align: left;
        margin-left: 11%;
        margin-bottom: 5%;
      }

      h1 {
        position: absolute;
        z-index: 20;
        top: 70%;
        font-size: 5em;
        right: 20%;
        color: $dark-blue;
        text-align: right;
        line-height: 1.1;
        letter-spacing: 0.1em;
      }
      .vl {
        height: 55%;
        top: 35%;
        left: 3.5em;
      }

      .vp {
        left: -0.5em;
      }
    }

    .svg-left {
      position: absolute;
      left: -13%;
    }
  }
  .dark-blue {
    position: relative;
    z-index: 0;
    background-color: $dark-blue;
    .vp {
      color: $yellow;
    }
    p {
      color: white;
    }
    .left {
      .yellow {
        color: $yellow;
      }
    }
    .svg-left {
      z-index: 10;
    }
    .right {
      .vp-small {
        color: $yellow;
      }
    }
  }
}

@media only screen and (max-height: 400px) {
  footer {
    height: 35%;
  }
}

@media only screen and (max-width: 400px) {
  footer {
    background-color: $dark-blue;
    margin-top: 3em;
    position: relative;
    height: 25%;

    ul {
      position: absolute;
      list-style-type: none;
      margin-left: 0.5em;
      padding: 1em;
      display: flex;
      justify-content: space-evenly;
      width: 40%;
      z-index: 10;
      li {
        padding: 0 0.5em;
      }
    }

    a {
      color: $light-blue;
      font-size: 0.8em;
    }
  }

  .footer-img {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media only screen and (min-width: 800px) {
  .hero {
    display: flex;
    height: 60%;
    width: 100vw;
    position: relative;
  }
  .content-right {
    display: block;
    width: 30%;
    height: 120%;
    background-color: $light-blue;

    svg {
      position: absolute;
      z-index: 5;
      height: 130%;
      top: -30%;
      right: 0;
    }
  }
}
