@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-containter {
  background-color: #fff;
}

.p-blue {
  color: #219ebc;
}

.p-yellow {
  color: #219ebc;
}

a svg {
  width: 50%;
  margin: 0;
  margin-top: -2em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul a {
  padding: 0 1em;
}

.social-header,
.content-right {
  display: none;
}

.hero {
  color: #023047;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3em;
  padding-top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-left {
  text-align: center;
}

h1 {
  color: #023047;
}

h4 {
  color: #fb8500;
}

.button-down img {
  width: 2.5em;
}

.contact {
  background-color: #023047;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-background {
  padding: 3em;
  width: 50%;
  margin: 0 auto;
}

.contact .text {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.contact .text h1 {
  color: #ffff03;
  display: inline-block;
  font-size: 6.5vw;
  padding: 1em;
  margin-top: -0.5em;
  letter-spacing: 0.4em;
  text-align: center;
}

.contact .text h1 a {
  color: #fb8500;
}

.about {
  background-color: #219ebc;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col {
  display: inline-block;
  width: 70%;
  height: auto;
  text-align: center;
  background-color: #fff;
  margin: 1em auto;
  border-radius: 1em;
}

.col img {
  width: 40%;
  padding: 1em;
}

.col h4 {
  font-size: 0.9em;
  margin-top: -0.5em;
  color: #023047;
  text-transform: uppercase;
}

.col p {
  font-size: 0.9em;
  padding: 1em 4em;
  margin-top: -1.5em;
  color: #219ebc;
}

.col-1 {
  padding-top: 2em;
  margin-top: 2em;
  padding-top: 0;
}

.col-3 {
  margin-bottom: 2em;
}

.project {
  padding: 0.25em 2em;
  text-align: center;
  position: relative;
}

.project .left {
  padding-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.project .left img {
  width: 80%;
  margin: 0 auto;
  border-radius: 1em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  -webkit-border-radius: 1em;
}

.project .left h1 {
  margin-top: -0.5em;
  font-size: 1.5em;
}

.project .left h1 br {
  display: none;
}

.project .left h4 {
  color: #fb8500;
  font-size: 0.8em;
  margin-top: 0;
  text-transform: uppercase;
}

.project .right .description {
  font-size: 0.8em;
  padding: 0 2em;
  text-align: left;
}

.hire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
  margin-bottom: 2.5em;
  position: relative;
  z-index: 10;
}

.hire-me {
  padding: 0 1em;
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 800;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#fb8500), color-stop(50%, #fb8500), color-stop(50%, #023047));
  background: linear-gradient(to right, #fb8500, #fb8500 50%, #023047 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
  text-decoration: none;
}

.hire-me:hover {
  background-position: 0 100%;
}

footer {
  background-color: #023047;
  margin-top: 3em;
  position: relative;
  height: 25%;
}

footer ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40%;
  z-index: 10;
}

footer a {
  color: #219ebc;
  font-size: 0.8em;
}

.footer-img {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.vp,
.vl {
  display: none;
}

.svg-right,
.svg-left {
  display: none;
}

@media only screen and (min-width: 800px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 6em;
    position: relative;
  }
  a svg {
    padding: 0;
    width: 40%;
    margin-top: -3em;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 66%;
    height: 100%;
    z-index: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 9em;
  }
  header nav ul a {
    padding: 0 1em;
    font-size: 1em;
  }
  body {
    position: relative;
  }
  body .svg-social {
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    left: -7em;
    top: 0;
    z-index: 9;
    overflow: hidden;
  }
  body .svg-social .svg-hero {
    position: absolute;
    height: 85%;
    z-index: 9;
    width: auto;
  }
  .social-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    background-color: #219ebc;
    width: 34%;
    position: relative;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social-header ul li {
    padding: 0.5em;
  }
  .social-header ul li img {
    width: 50%;
    position: relative;
    z-index: 10;
  }
  .social-header ul li .dribbble {
    margin-top: -0.25em;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60%;
    width: 100vw;
    position: relative;
  }
  .content-right {
    display: block;
    width: 30%;
    height: 120%;
    background-color: #219ebc;
  }
  .content-right svg {
    position: absolute;
    z-index: 5;
    height: 130%;
    top: -30%;
    right: 0;
  }
  .content-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 66%;
    position: relative;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .content-left .content {
    width: 70%;
    text-align: justify;
  }
  .content-left .content h1 {
    font-size: 2.5em;
    margin-left: 2em;
    margin-top: 1em;
  }
  .content-left .content h4 {
    margin-left: 5.1em;
  }
  .vl {
    display: block;
    color: #219ebc;
    border-left: 3px solid;
    height: 12em;
    z-index: 10;
    position: absolute;
    left: 3em;
    top: 35%;
  }
  .button-down {
    text-align: center;
  }
  .button-down a {
    position: relative;
    z-index: 10;
  }
  .vp {
    display: block;
    color: #023047;
    font-size: 3em;
    font-weight: bold;
    writing-mode: tb-rl;
    -webkit-writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
    position: absolute;
    top: 15%;
    left: -0.7em;
  }
  .contact {
    position: relative;
    z-index: 9;
  }
  .contact .contact-background {
    position: relative;
    z-index: 0;
  }
  .contact .text h1 {
    margin-top: -1em;
  }
  .contact .text h1 a {
    position: relative;
    z-index: 10;
  }
  .vl-contact {
    color: #ffff03;
    top: 25%;
    height: 19em;
  }
  .vp-contact {
    color: #219ebc;
    top: 6%;
  }
  .vp-small {
    color: #ffff03;
    font-size: 1em;
    right: 1em;
  }
  .dark-blue-div {
    display: block;
    width: 100%;
    height: 20vh;
    background-color: #023047;
  }
  .about {
    position: relative;
    background-color: #219ebc;
    width: 100%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .col {
    display: block;
    width: 40%;
    height: 50%;
    text-align: center;
    background-color: #219ebc;
    margin: 1em auto;
  }
  .col img {
    margin-top: -6em;
    z-index: 10;
    width: 50%;
    padding: 0.5em;
  }
  .col h4 {
    font-size: 1em;
    margin-top: -0.5em;
    color: #023047;
    text-transform: uppercase;
  }
  .col p {
    font-size: 1.3vw;
    font-weight: 300;
    padding: 2em 4em;
    width: 60%;
    margin: 0 auto;
    margin-top: -1.5em;
    color: #fff;
    text-align: left;
  }
  .project {
    padding-bottom: 2em;
    position: relative;
  }
  .project .right svg {
    position: absolute;
    right: -3%;
    top: 0;
    height: 100%;
    z-index: -1;
  }
  .project .right .vp {
    color: #fb8500;
    right: 5%;
  }
  .project .right .description {
    display: block;
    position: absolute;
    top: 20%;
    right: 10%;
    width: 30%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.3vw;
    font-weight: 300;
  }
  .project .left {
    height: 60vh;
    position: relative;
  }
  .project .left a {
    margin-left: -5%;
    width: 75%;
  }
  .project .left a img {
    width: 60%;
    position: relative;
    border-radius: 0;
    z-index: 10;
    margin-bottom: 3em;
  }
  .project .left h4 {
    text-align: left;
    margin-left: 11%;
    margin-bottom: 5%;
  }
  .project .left h1 {
    position: absolute;
    z-index: 20;
    top: 70%;
    font-size: 5em;
    right: 20%;
    color: #023047;
    text-align: right;
    line-height: 1.1;
    letter-spacing: 0.1em;
  }
  .project .left h1 br {
    display: inline;
  }
  .project .left .vl {
    height: 55%;
    top: 37%;
    left: 3.5em;
  }
  .project .left .vp {
    left: -0.5em;
  }
  .project .svg-left {
    position: absolute;
    left: -13%;
  }
  .dark-blue {
    position: relative;
    z-index: 0;
    background-color: #023047;
  }
  .dark-blue .vp {
    color: #ffff03;
  }
  .dark-blue p {
    color: white;
  }
  .dark-blue .left .yellow {
    color: #ffff03;
  }
  .dark-blue .svg-left {
    z-index: 10;
  }
  .dark-blue .right .vp-small {
    color: #ffff03;
  }
}

@media only screen and (max-height: 400px) {
  footer {
    height: 35%;
  }
}

@media only screen and (max-width: 400px) {
  footer {
    background-color: #023047;
    margin-top: 3em;
    position: relative;
    height: 25%;
  }
  footer ul {
    position: absolute;
    list-style-type: none;
    margin-left: 0.5em;
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 40%;
    z-index: 10;
  }
  footer ul li {
    padding: 0 0.5em;
  }
  footer a {
    color: #219ebc;
    font-size: 0.8em;
  }
  .footer-img {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .content-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 66%;
    position: relative;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .content-left .content {
    width: 60%;
    text-align: justify;
  }
  .content-left .content h1 {
    font-size: 2.5em;
    margin-top: 1em;
    margin-left: 2.5em;
  }
  .content-left .content h4 {
    margin-top: -1em;
    margin-left: 6.2em;
  }
  .project .left .vl {
    height: 17em;
    left: 4em;
    top: 38%;
  }
  .button-down {
    margin-top: 2em;
  }
  .vp {
    top: 15%;
    left: -0.4em;
  }
  .vl {
    height: 12em;
    left: 4em;
    top: 35%;
  }
  .vl-contact {
    color: #ffff03;
    top: 25%;
    height: 23em;
  }
  .vp-contact {
    color: #219ebc;
    top: 7%;
  }
  .about {
    height: 60vh;
  }
  .col {
    padding-bottom: 1em;
  }
  .col p {
    font-size: 0.9em;
  }
  .project {
    padding-bottom: 5em;
  }
  .project .right .description {
    font-size: 0.8em;
  }
  .project-logistics {
    margin-bottom: 4em;
  }
  footer {
    height: 35%;
  }
}

@media only screen and (min-width: 1200px) {
  .content-left .content {
    width: 55%;
  }
  .content-left .content h1 {
    font-size: 3.5em;
    margin-top: 0.5em;
    margin-left: 3.5em;
  }
  .content-left .content h4 {
    margin-top: -1em;
    margin-left: 12.3em;
  }
  .vl {
    height: 18em;
    left: 9em;
    top: 25%;
  }
  .vl-contact {
    height: 19em;
    left: 4em;
    top: 37%;
  }
  .button-down {
    margin-top: -1em;
    margin-left: 10em;
  }
  .vp {
    top: 10%;
    left: 1.3em;
  }
  .vl-contact {
    color: #ffff03;
    top: 25%;
    height: 27em;
  }
  .vp-contact {
    color: #219ebc;
    top: 7%;
    left: -0.4em;
  }
}
/*# sourceMappingURL=style.css.map */