//colors
$dark-blue: #023047;
$light-blue: #219ebc;
$orange: #fb8500;
$yellow: #ffff03;
$white: #fff;

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-containter {
  background-color: #fff;
}

.p-blue {
  color: $light-blue;
}

.p-yellow {
  color: $yellow;
}

a {
  svg {
    width: 50%;
    margin: 0;
    margin-top: -2em;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  nav {
    ul {
      display: flex;

      a {
        padding: 0 1em;
      }
    }
  }
}

.social-header,
.content-right {
  display: none;
}

.hero {
  color: $dark-blue;
  display: flex;
  padding: 3em;
  padding-top: 0;
  justify-content: center;
}

.content-left {
  text-align: center;
}

h1 {
  color: $dark-blue;
}

h4 {
  color: $orange;
}

.vl {
  display: none;
  color: $light-blue;
  border-left: 4px solid;
  height: 10em;
  position: absolute;
  left: 2em;
  top: 25%;
}

.vp {
  display: none;
  color: $dark-blue;
  font-size: 2em;
  font-weight: bold;
  writing-mode: tb-rl;
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  margin-left: -1em;
}

.button-down {
  img {
    width: 2.5em;
  }
}

.contact {
  background-color: $dark-blue;
  position: relative;
  display: flex;

  &-background {
    padding: 3em;
    width: 50%;
    margin: 0 auto;
  }

  .text {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    h1 {
      color: $yellow;
      display: inline-block;
      font-size: 6.5vw;
      padding: 1em;
      margin-top: -0.5em;
      letter-spacing: 0.4em;
      text-align: center;

      a {
        color: $orange;
      }
    }
  }
}
